* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    background-color: #5995da;
    padding: 20px 0px;
    color: white;
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
}

.menu {
    /* border: 1px solid red; */
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
}

.signup, .login {
    margin-right: 20px;
}

.date {
    margin-left: 20px;
}

.header-container {
    color: #5995da;
    background-color: #d6e9fe;
    display: flex;
    justify-content: center;
}

.header {
    width: 1200px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
    width: 1200px;
}

.photo-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.photo-grid-item {
    width: 400px;
    margin: 0px 5px;
}

.photo-grid-item img {
    width:100%;
}